<div class="main-header">
  <div class="current-room">hogefuga</div>
  <div class="close-room">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message-top">
    <div class="message-user">Tom</div>
    <div class="message-date">2020/3/31(Wed) 12:43:30</div>
  </div>
  <div class="message-content">
    おはよう
  </div>

  <div class="message-top">
    <div class="message-user">Tom</div>
    <div class="message-date">2020/3/31(Wed) 12:43:30</div>
  </div>
  <div class="message-content">
    おはよう
  </div>
</div>

<%= form_with model: [@room, @message], class: 'input-form', local: true do |f| %>
  <div class="form">
    <%= f.text_field :content, class: 'message-form', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'submit' %>
<% end %>