.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
}

.side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.user-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
  padding: 14px;
  border: 1px solid lightblue;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room a {
  color: white;
  text-decoration: none;
}

.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
}

.main-header {
  height: 100px;
  background-color: #fff;
  padding: 0 40px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.input-form {
  height: 90px;
  background-color: #ddd;
  padding: 20px 40px;
}