.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
}

.side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.user-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
  padding: 14px;
  border: 1px solid lightblue;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room a {
  color: white;
  text-decoration: none;
}

.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
}

.main-header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #fff;
  padding: 0 40px;
}

.current-room {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.close-room {
  margin-top: 40px;
}

.close-room a {
  color: darkred;
  padding: 20px;
  border: 1px solid darkred;
  text-decoration: none;
}

.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.message-top {
  display: flex;
  margin-top: 10px;
}

.message-user {
  font-size: 16px;
  color: #434a54;
  margin-right: 10px;
}

.message-date {
  font-size: 12px;
  color: #999;
}

.message-content {
  font-size: 14px;
  color: #434a54;
  margin-top: 10px;
  margin-bottom: 40px;
}

.input-form {
  display: flex;
  height: 90px;
  background-color: #ddd;
  padding: 20px 40px;
}

.form {
  display: flex;
  width: 100%;
  background-color: white;
}

.message-form {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.submit {
  font-size: 16px;
  color: white;
  height: 50px;
  background-color: #38aef0;
  padding: 0 20px;
  border: none;
  margin-left: 15px;
}