.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
}

.side-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}

.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
}

.main-header {
  height: 100px;
  background-color: #fff;
  padding: 0 40px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.input-form {
  height: 90px;
  background-color: #ddd;
  padding: 20px 40px;
}